body {
    background-color: #ff4040; /* Dark orange background */
    font-family: Afacad; /*Arial, sans-serif*/
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

@font-face {
  font-family: Afacad;
  src: url("/data/afacad.ttf");
}

.hd-container{
    display: flex;
    align-items: center;
    background-color: white;
    color:black;
    width: 100%;
    vertical-align: middle;
}

.siteicon{
    height: 80px;
    margin: 10px;
}

.sitetitle{
    font-weight: bold;
    color: black;
    font-size: 100px;
}

.titlelink{
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    margin-left: auto;
    margin-right: 10px;
}